body {
  margin: 0
}

/* Exo margin */
section {
  background-color: #4da6ff;
}

h2 {
  background-color: yellow;
  border: solid black 2px;
  height: 300px;
}

section:first-of-type>h2:first-of-type {
  margin: 50px;
}

section:first-of-type>h2:nth-of-type(2) {
  margin-left: 20%;
}
section:first-of-type>h2:nth-of-type(3) {
  margin: auto;
}
/* fin exo margin */

/* exo padding */
/* fin exo padding */

/* exo display */
/* fin exo display */

/* exo position */
/* fin exo position */

/* exo position (priorité) */
/* fin exo position (priorité) */