body {
  margin: 0
}

/* Exo margin */
section {
  background-color: #4da6ff;
}

h2 {
  background-color: yellow;
  border: solid black 2px;
  height: 300px;
}

section:first-of-type>h2:first-of-type {
  margin: 50px;
}

section:first-of-type>h2:nth-of-type(2) {
  margin-left: 20%;
}
section:first-of-type>h2:nth-of-type(3) {
  margin: auto;
}
/* fin exo margin */

/* exo padding */
section:nth-of-type(2)>h2:first-of-type {
  padding: 50px;
}

section:nth-of-type(2)>h2:nth-of-type(2) {
  padding-left: 20%;
}
/* fin exo padding */

/* exo display */
section:nth-of-type(3)>h2:first-of-type {
  margin: 30px;
  padding: 50px;
  display: inline-block;
}

section:nth-of-type(3)>h2:nth-of-type(2) {
  display: none;
}
/* fin exo display */

/* exo float */
section:nth-of-type(4) {
  overflow: auto;
}
section:nth-of-type(4)>h2:first-of-type {
  width: auto;
  float: right;
}

section:nth-of-type(4)>h2:nth-of-type(2) {
  width: auto;
  float: left;
}
/* fin exo float */

/* exo position */
section:nth-of-type(5) {
  position: relative;
  top: 50px;
  left: 50%;
}

section:nth-of-type(5)>h2:first-of-type {
  position: fixed;
  background-color: green;
  margin: 0;
  top: 0%;
}
/* fin exo position */

/* exo position (priorité) */
section:nth-of-type(6)>h2:first-of-type {
  position: absolute;
  left: 100px;
}

section:nth-of-type(6)>h2:nth-of-type(2) {
  background-color: blue;
  margin-left: 100px;
  position: absolute;
  left: -100px;
}
/* fin exo position (priorité) */